.container {
    padding: 20px;
}

.image-box{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    padding-top: 100%; // Maintain aspect ratio
    background-size: cover;
    background-repeat: no-repeat;
}

.checkbox {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    opacity: 0;
}